<!DOCTYPE html>
<html lang="pt-br"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="João Paulo C. de Souza, Pedro W. Hernandes">
        <title>Trabalho de Banco de Dados</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div>
                <div class="headerTitle">
                    <h1 class="title">
                        BD 2022 
                    </h1>
                    <h2 class="subtitle">
                        Legislatura
                    </h2>
                </div>
                <div class="colorsHeader">
                    <div class="colorHeader" style="background-color: #ffdf00"></div>
                    <div class="colorHeader" style="background-color: #009c3b"></div>
                    <div class="colorHeader" style="background-color: #002776"></div>
                </div>
            </div>
            <div class="filter">
                <input type="text" class="filterInput" placeholder="Pesquisar...">
            </div>
        </div>
        <div class="subheader">
            <button class="btnSend">
                Enviar dados
            </button>
            <button class="btnSend">
                Deputados
            </button>
            <button class="btnSend">
                Órgãos
            </button>
            <!-- <button class="btnSend">
                Enviar dados
            </button>
            <button class="btnSend">
                Enviar dados
            </button> -->
        </div>
        <div class="body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data inicio</th>
                    <th scope="col">Data fim</th>
                    <th scope="col">Ano eleição</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:each="legis: ${Legislatura}">
                        <th th:text="${legis.id}" scope="row"></th>
                        <td th:text="${legis.data_ini}"></td>
                        <td th:text="${legis.data_fim}"></td>
                        <td th:text="${legis.ano_elec}"></td>
                      </tr>
                </tbody>
              </table>
        </div>
    </body>

</html>
