<!DOCTYPE html>
<html lang="pt-br"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="João Paulo C. de Souza, Pedro W. Hernandes">
        <title>Trabalho de Banco de Dados</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div>
                <div class="headerTitle">
                    <h1 class="title">
                        BD 2022 
                    </h1>
                    <h2 class="subtitle">
                        Orgão
                    </h2>
                </div>
                <div class="colorsHeader">
                    <div class="colorHeader" style="background-color: #ffdf00"></div>
                    <div class="colorHeader" style="background-color: #009c3b"></div>
                    <div class="colorHeader" style="background-color: #002776"></div>
                </div>
            </div>
            <div class="filter">
                <input type="text" class="filterInput" placeholder="Pesquisar...">
            </div>
        </div>
        <div class="subheader">
            <button class="btnSend">
                Enviar dados
            </button>
            <button class="btnSend">
                Órgãos
            </button>
            <button class="btnSend">
                Dep. Órgão
            </button>
            <button class="btnSend">
                Dep. Profissão
            </button>
            <button class="btnSend">
                Evento
            </button>
            <button class="btnSend">
                Evento presença
            </button>
            <button class="btnSend">
                Evento requerimento
            </button>
            <button class="btnSend">
                Legislatura
            </button>
            <button class="btnSend">
                Org. evento
            </button>
            <button class="btnSend">
                Requerimento
            </button>
            <button class="btnSend">
                Votação
            </button>
        </div>
        <div class="body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data inicial</th>
                    <th scope="col">data_inst</th>
                    <th scope="col">Data final</th>
                    <th scope="col">Descrição situação</th>
                    <th scope="col">Casa</th>
                    <th scope="col">Sala</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="org: ${Orgao}">
                    <th th:text="${org.id}" scope="row"></th>
                    <td th:text="${org.sigla}"></td>
                    <td th:text="${org.nome}"></td>
                    <td th:text="${org.tipo}"></td>
                    <td th:text="${org.data_ini}"></td>
                    <td th:text="${org.data_inst}"></td>
                    <td th:text="${org.data_fim}"></td>
                    <td th:text="${org.desc_situacao}"></td>
                    <td th:text="${deputado.casa}"></td>
                    <td th:text="${deputado.sala}"></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </body>

</html>
